<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <style>
    body {
      font-family: "Arial", sans-serif;
      background-color: #f4f4f4;
      color: #333;
      margin: 0;
      padding: 0;
    }

    h1 {
      text-align: center;
      color: #007bff;
    }

    form {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 20px;
      box-sizing: border-box;
    }

    button {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    table {
      width: 100%;
      margin-top: 20px;
      border-collapse: collapse;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    th,
    td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #007bff;
      color: #fff;
    }

    tr:hover {
      background-color: #f5f5f5;
    }

    form.delete-form {
      display: inline-block;
    }

    button.delete-btn {
      background-color: #dc3545;
    }
  </style>
  <body>
    <h1>URL shortner</h1>
    <% if(locals.id){ %>
    <p>URL Generated : http://localhost:8001/url/<%= id %></p>
    <% } %>
    <form action="/url" method="POST">
      <label>Enter Your URL</label>
      <input type="text" name="url" placeholder="Enter URL" />
      <button type="submit">Shorten URL</button>
    </form>
    <% if(locals.urls) %>
    <table border="1">
      <thead>
        <th>S.no</th>
        <th>shortURL</th>
        <th>Redirect</th>
        <th>click</th>
        <th>action</th>
      </thead>
      <tbody>
        <% urls.forEach((url,index) => { %>
        <tr>
          <td><%= index+1 %></td>
          <td>localhost:8001/url/<%= url.shortId %></td>
          <td><%= url.redirectURL %></td>
          <td><%= url.visitHistory.length %></td>
          <td>
            <form action="/url/<%= url.shortId %>" method="POST">
              <input type="hidden" name="_method" value="DELETE" />
              <button type="submit">delete</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
